@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}
a{
  text-decoration: none;
  color: inherit;
}


body{
  background-color: #eef8ff;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}
.app {
  min-height: 98.5vh;
  border: 6px solid #39445a93;
  /* background-color: white; */
  margin: 5px;
  padding: 5px;
}